@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .logo {
    font-size: 2em;
  }

  h3 {
    font-size: 0.8em;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navigation a {
    margin: 10px 0;/* vertical margin between navigation links */
  }

  .container {
    flex-direction: column;/* Stack login and registration forms vertically */
  }

  .register-container,
  .close-icon2 {
    top: 5px;
    right: 5px;
    font-size: 16px;
  }

  .register-container {
    width: 90%;
    height: auto;/* Let the content determine height */
    padding: 20px;
  }


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('bg.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
}

header {

  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #5C4033;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {

  font-size: 2em;
  color: antiquewhite;
  user-select: none;
  text-align: center;

}

h3 {

  font-size: 0.8em;
  color: antiquewhite;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: antiquewhite;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  flex-direction: column;/* Stack navigation links vertically */
  align-items: center;
  text-align: center;
}

.navigation a::after {
  content: '';
  left: 0;
  bottom: -6px;
  position: absolute;
  width: 100%;
  height: 3px;
  background: rgb(156, 68, 68);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.section-1-text {
  display: block;
  border: black;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  overflow: hidden;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0% 20px;
  font-size: 20px;
  color: grey;
}

::placeholder {
  color: gray;
}

.container .icon {
  position: absolute;
  right: 0;
  width: 45px;
  height: 43px;
  background: lightgrey;
  font-size: 2em;
  color: rgb(83, 78, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column; /* Stack login and registration forms vertically */
}

/*login */
#loginContainer {
  display: none;/* Hide the login container by default */
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);/* Add a semi-transparent background */
  z-index: 999;/* Ensure the login form appears on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 400px;
  height: 450px;
  border-radius: 20px;
}

.close-icon1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}


#loginContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

#loginContainer input[type="email"],
input[type="password"]{
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;/* Ensures padding is included in the width */
}

#loginContainer input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 2px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.remember-forgot label {
  margin-right: 10px;
}

#loginContainer input[type="submit"] {
  margin-top: 15px;
  background-color: #5C3317;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#loginContainer input[type="submit"]:hover {
  background-color: #A0522D;
}

#loginContainer.active {
  display: flex;
}

#emailErrormsg,
#passwordErrormsg {
  color: red;
  font-size: 9px;
  height: 13px;
  top: 0;
  left: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #A0522D;
}

.register-container {
  display: none;
  position: relative;/* Ensure relative positioning for the container */
  border: 1px solid #ccc;
  width: 400px;
  height: 470px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;/* Change to column layout */
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.close-icon2 {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.register-container h2 {
  margin-top: 20px;
  text-align: center;
}

.register-container #Username {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #Password {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #ConfirmPassword {

  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #Email {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #cb {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #5C3317;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-container input[type="submit"]:hover {
  background-color: #A0522D;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #A0522D;
  text-decoration: none;
}

.register-hidden {
  display: none;
}

.error-message {
  color: red;
  font-size: 9px;
  height: 13px;
  margin-top: 0;
  position: absolute;/* Initially hide error messages */
}