
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    position: absolute;
    background-color: #fff;
    display:inline-flex;
    min-height: 100vh;
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding:auto;
    width: 100%;
    height: 100px;
    background: #5C4033;
    display: flex;
    z-index: 99;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 2px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1 {
    margin: 10px;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}
header nav p {
    font-size: 1em;
    font-weight: 500;
    color: #fff;
}

header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"],
button[type="submit"] {
    border: none;
    font-size: 17px;
    padding:  10px;

}

form button[type="submit"] {
    border: none;
    background-color: #5C4033;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover {
    background-color: #5C4033;
}

button[type="submit"] {
    background-color: #5C4033;
    color: white;
    cursor: pointer;
}
 button[type="submit"]:hover {
    background-color: #5C4033;
}
.books {
    text-align: center;
    margin-top: 20px;
}

.bookItem {
    width: 50%;
    /* Adjust the width as per your requirements */
    float: left;
    padding: 10px;
    /* Add padding to create spacing between images */
    box-sizing: border-box;
    /* Include padding in the width calculation */
}
.bookItem img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
.booktitle{
    font-size: 20px;
    color: black;
}