* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


header {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #5C4033;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}


.logo {
  font-size: 2em;
  color: antiquewhite;
  user-select: none;
  text-align: center;
}

h3 {
  font-size: 0.8em;
  color: antiquewhite;
}


.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  font-size: 1.1em;
  color: antiquewhite;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  position: relative;
  text-align: center;
}


.navigation a::after {
  content: '';
  left: 0;
  bottom: -6px;
  position: absolute;
  width: 100%;
  height: 3px;
  background: rgb(156, 68, 68);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}


.container.icon {
  position: absolute;
  right: 0;
  width: 45px;
  height: 43px;
  background: lightgrey;
  font-size: 2em;
  color: rgb(83, 78, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}


@media (max-width: 768px) {
  header {
      padding: 10px;
      flex-direction: column;
      align-items: center;
  }

  .logo {
      font-size: 1.5em;
      margin-bottom: 10px;
  }

  h3 {
      font-size: 0.7em;
      margin-bottom: 10px;
  }

  .navigation {
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: fixed;
      background: #5C4033;
      width: 100%;
      height: 100vh;
      top: 0;
      left: -100%;
      z-index: 98;
      transition: left 0.3s ease-in;
  }

  .navigation.active {
      left: 0;
  }

  .navigation a {
      margin: 10px 0;
  }

  .container {
      flex-direction: column;
  }

  .container.icon {
      font-size: 1.5em;
  }

}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  overflow: hidden;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0% 20px;
  font-size: 20px;
  color: transparent;
}

::placeholder {
  color: grey;
}

.search-bar button.icon {
  width: 5px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#userIcon {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 48px;
}


#dropdownContainer {
  display: none;
  position: absolute;
  top: 100%; /*position it below the user icon */
  right: 0;
  background: #5C4033;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 20px 10px;
  margin: 0;
  z-index: 100;  /*Ensure it's above other content */
}

/*Remove the dot circle from list items */
#dropdownContainer ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}


#dropdownContainer ul li {
  margin-bottom: 10px; /* Add spacing bet- list items */
}

.container.icon {
  position: absolute;
  right: 0;
  width: 45px;
  height: 43px;
  background: lightgrey;
  font-size: 2em;
  color: rgb(83, 78, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column; /* Stack login and registration forms vertically */
}

#loginContainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  z-index: 999; /* Ensure the login form appears on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  top: 50%; /* Center vertically */
  left: 50%;  /* Center horizontally */
  transform: translate(-50%, -50%); 
  display: none; /* Hide the login container- default */
}

.login-hidden {
  display: none;
}

.close-icon1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

#loginContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

#loginContainer input[type="email"],
#loginContainer input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

#loginContainer input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 2px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.remember-forgot label {
  margin-right: 10px; 
}

#loginContainer input[type="submit"] {
  margin-top: 15px; 
  background-color: #5C3317;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#loginContainer input[type="submit"]:hover {
  background-color: #A0522D;
}

#loginContainer.active {
  display: flex;
}

#emailErrormsg,
#passwordErrormsg {
  color: red;
  font-size: 9px;
  height: 13px; 
  top: 0;
  left: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #A0522D;
}

.register-container {
  display: none; 
  position: fixed; 
  border: 1px solid #ccc;
  width: 400px;
  height: 470px; 
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  top: 50%;  /* Center vertically */
  left: 50%;  /* Center horizontally */
  transform: translate(-50%, -50%); 
}

.close-icon2 {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px; 
  cursor: pointer;
  color: white; 
}

.register-container h2 {
  margin-top: 20px;
  text-align: center;
}

.register-container #Username {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #Password {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #ConfirmPassword {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #Email {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container #cb {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #A0522D;
}

.register-container input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #5C3317;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-container input[type="submit"]:hover {
  background-color: #A0522D;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #A0522D;
  text-decoration: none;
}

.register-hidden {
  display: none;
}

.error-message {
  color: red;
  font-size: 9px;
  height: 13px;
  margin-top: 0;
  position: absolute;/* Initially hide error messages */
 
}

.bookUpload-container {
  display: none;
  position: fixed;
  border: 1px solid #ccc;
  width: 400px;
  height: 470px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); 
}

.bookUpload-hidden {
  display: none;
}

.close-icon3 {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px; 
  cursor: pointer;
  color: white; 
}

.bookUpload-container h2 {
  margin-top: 10px;
  text-align: center;
}

.bookUpload-container input[type="text"] {
  width: 100%;
  padding: 10px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#description {
  width: 90%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 8px;
}

#coverImage {
  width: 90%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
}

#pdfFile {
  width: 90%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 10px;
}

.bookUpload-container input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #5C3317;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* books */
.bookcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;  /* Gap between rows */
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  max-width: 1200px; 
  margin: 0 auto;
}

.books {
  text-align: center;
  margin-top: 90px;
  margin-right: 20px;
}

.bookItem {
  width: 50%; 
  float: left;
  padding: 10px; /*padding to create spacing between images */
  box-sizing: border-box; 
}

.bookItem img {
  margin-top: 90px;
  width: 150px;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.booktitle {
  margin-top: 5px;
  font-family: var(--bm-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: black;
}

h2.booktitle {
  margin-top: 5px;
  font-size: 15px;
  color: #6b6b6b;
}

.book-item {
  flex: 1;  /* Equal width for book items */
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.footer-links {
  margin-bottom: 10px;
}


.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}

.social-icons .fab {
  transition: color 0.3s ease;
}

.social-icons .fab:hover {
  color: #007bff; 
}

.db {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

   
  